In [2]:
import pandas as pd
import numpy as np

In [5]:
vio0 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation0.csv', low_memory=False)
vio1 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation1.csv', low_memory=False)
vio2 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation2.csv', low_memory=False)
vio3 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation3.csv', low_memory=False)
vio4 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation4.csv', low_memory=False)
vio5 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation5.csv', low_memory=False)
vio6 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation6.csv', low_memory=False)
vio7 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation7.csv', low_memory=False)
vio8 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation8.csv', low_memory=False)
vio9 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation9.csv', low_memory=False)
vio10 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation10.csv', low_memory=False)
vio11 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation11.csv', low_memory=False)
vio12 = pd.read_csv('F:\Thomas Tatum\Documents\Grad School\intern\Dev\Data\CSV\osha_violation_20221012.csv\osha_violation12.csv', low_memory=False)
violations = pd.concat([vio0,vio1,vio2,vio3,vio4,vio5,vio6,vio7,vio8,vio9])

In [6]:
violations
# export this for complete vios

,activity_nr,citation_id,delete_flag,standard,viol_type,issuance_date,abate_date,abate_complete,current_penalty,initial_penalty,...,fta_issuance_date,fta_penalty,fta_contest_date,fta_final_order_date,hazsub1,hazsub2,hazsub3,hazsub4,hazsub5,load_dt
0,16295,01001,NaN,19260451 E05,O,1984-01-20,1984-01-23,X,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-14 16:45:21 EDT
1,16865,01001,NaN,19100179 D03,S,1984-02-07,1984-02-11,X,140.0,280.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-03 01:06:20 EDT
2,16865,02001,NaN,19100157 E03,O,1984-01-25,1984-01-28,X,0.0,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-03 01:06:20 EDT
3,16873,01001,NaN,19030002 A01,O,1984-01-25,1984-01-28,X,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-14 16:45:21 EDT
4,16881,01001C,NaN,19101025 F04 I,O,1984-05-17,1984-05-25,X,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-14 16:45:21 EDT